# DB Variables
DB_HOST=postgres
DB_PORT=5432
DB_PASSWORD=password
DB_USERNAME=root
DB_NAME=testdb
DB_MIGRATION_PATH=dist/migrations/*.js

# App Variables
PORT=3001
SERVER_URL=http://localhost:3001
JWT_SECRET=secret
JWT_EXPIRY_TIME_HOURS=24
JWT_REFRESH_EXPIRY_TIME_HOURS=4500

# Logger Variables
LOGGER_LEVEL=silly